*{
  margin: 0;
  padding: 0;
  bax-sizing: border-box;
  font-family: system-ui,sans-serif;
}
body{
  background-color: silver;
  scroll-behavior: smooth;
  
  
}

/* TOP IMAGE */
.bat{
  position:fixed;
  inset:0;
  position: relative;


}

 /* BLURRED NAVBAR */
 .navbar {
  height: 80px;
  padding: 0 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:  rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter:blur(50px);

  border-bottom: 5px solid rgba(255,255,255,0.25);
   
   z-index: 10000;
  position: fixed;
  top:1;
 }

 /*  NAV CONTENT */
 .nav-logo {
  font-size: 1.6rem;
  font-weight:bold;
  color:#aaa;
 }

.nav-links{
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: black;
  text-decoration: none;
     font-size: 1rem;
}
 
.nav-links a:hover {
  opacity: 0.10;

}

/* CONTENT SECTION */
  .content{
    min-height: 100vh;
    background: url("file:///C:/Users/user/Documents/starvron.html/3fc9a67661e362027ea5f7f304e2a856.gif")center / cover no-repeat;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* overlay */
  .content:: before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);

  }

  /* Layout */
  .content-overlay {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 50px;
    
    max-width: 1100px;
    padding: 40px;
    color: #fff;

  }

/* TEXT */
.content-text h4 {
  font-size: 3rem;
  margin-bottom:15px ;
color: #bbb;
}

.content-text p{
  font-size: 1.1rem;
  max-width: 420px;
  color:#bbb;
}

/* CARD */
.card {
  width: 300px;
  padding: 10px;
  border-radius: 25px;
  align-text:center;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(5px) ;
  -webkit-backdrop-filter:blur(5px);

  box-shadow: 010px 30px rgba(0,0,0,0.4);

  transition: transform 0.95s ease, box-shadow 0.4s ease;
  
}
   
   /* CARD HOVER ANIMATION */
   .card:hover{
    transform: translate(-10px) scale(1.05);
    box-shadow: 0 25px 50px rgba(0,0,0,0.6);
   }

   .card img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1px;
     }


     /* SCROLL REVEAL (initial state) */
     .reveal{
      opacity: 1;
      transform: translateY(0);
      transition: all 3s ease;


     }

     /* Active reveal */
     .reveal.active{
      opacity:  1;
      transform: translateY(0);
     }

/* Delay for card */
.delay{
  transition-delay: 2s;

}



/*  SECTION */
  .intel{
    min-height: 100vh;
    position: relative;
    
  }


  .cac{
    align-items:center;
    justify-content:center;
    margin-left: 127%;
  }
  
  .intel:: before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);

  }


  .intel-overlay {
    position: relative;
    z-index: 5;
    max-width: 1200px;
    padding: 40px 20px;
    color: rgba(255, 255, 210, 255);
    margin: auto;
  }


/* TITLE */
.section-title {
  font-size: 3rem;
  margin-bottom:10px ;
   text-align: center;
}


/* GRID */
.card-grid {
   display:grid;
     grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    gap: 50px;
}
   
   /* CARD */
   .card{
    display:block;
    text-decoration: none;
    color: #bbb;
    
  
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    padding: 10px;
    text-align:  center;

         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);



                       transition: transform 0.35s ease, box-shadow 5s ease;

   }

  


     /* HOVER */
     .card:hover{
      transform: translateY(-15px)
      scale(1.05);
      box-shadow: 0 39px 60px rgba(0,0,1,9);
      color:black;
     }

     /* IMAGE */
     .card img{
      width: 100%;
      border-radius: 18px;
      margin-top: 2px;
     }

.card-grid-reveal-group{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 2fr));
  align-items:center;
  justify-content:center;
  justify-content:space-between;
  gap:100px;
}

/* SCROLL REVEAL STATES */
.reveal-group .reveal-items {
  opacity: 0;
  transform: translateY(40px);
}


/* ACTIVE */

.reveal-group .reveal-items {
  opacity: 1;
  transform: translateY(40px);
  transition: 3s ease;

}


/* STAGGERED ANIMATION */
.reveal-group.active.reveal-items:nth-child(1) {
  transition-delay:0.2s ;
}



.reveal-group.active.reveal-items:nth-child(2) {
  transition-delay:0.2s ;
}


.reveal-group.active.reveal-items:nth-child(3) {
  transition-delay:0.2s ;
}


.reveal-group.active.reveal-items:nth-child(4) {
  transition-delay:0.2s ;
}


  


  /* FOOTER */
.footer {
  padding: 5px 0;
  text-align: center;
  background: #0b0b0b;
  color: #fff;
}

.footer p{
  margin-bottom: 15px;
  opacity: 0.7;
}

/* MEDIA */
.media {
  width: 50px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 0 auto 12px;
}

/* ICONS */
.media-icons {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin: 25px 0;
}

.media-icons a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.media-icons a:hover {
  transform: translateY(-6px) scale(1.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* COLORS */
.what { background: #25d366; }
.tick { background: #000; }
.fb { background: #1877f2; }


